node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Markdown Content
src/lib/markdown/*.md
src/lib/markdown/daily/*
src/lib/markdown/extras/*
src/lib/markdown/posts/*

# JSON Content
src/lib/json/*.json