@import "/styles/prism/synthwave84.css";
@import "/styles/typography.css";
@import "/styles/components.css";
@import "/styles/colors.css";
@import "/styles/katex/katex.min.css";

:global {
   html[data-ready="true"] *:not(nav *, .category, a.icon-btn, a.icon-btn *, p *) {
      transition:
         background-color 6s ease,
         color 6s ease,
         stroke 6s ease;
   }
   
   main {
      font-family: Anta;
   }

   body {
      max-width: 1024px;
      background-color: var(--background-body);
      margin: auto auto;
      padding: 0 1rem;
   }

   article {
      position: relative;
      hyphens: auto;
      word-wrap: break-word;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }

   article ul,
   article ol {
      font-size: large;
      line-height: 2.5rem;
      color: var(--text-muted);
      margin: 0;
      padding: 1rem;
   }

   article ul li,
   article ol li {
      margin: 1rem 0;
      line-height: 1.8rem;
      text-align: left;
   }

   blockquote {
      margin: 3rem 0;
      padding: 0.5rem 1.61rem;
      color: var(--text-muted);
      border-left: thick solid var(--pink);
   }

   blockquote p {
      font-size: large;
      font-family: FallingSky;
   }

   blockquote summary {
      display: flex;
      gap: 0.5rem;
      font-weight: bold;
      padding-top: 1rem;
      font-size: large;
   }

   code {
      color: var(--code);
      background-color: var(--background);
      padding: 0.1rem 0.4rem;
      border-radius: 0.5rem;
      overflow-x: scroll;
   }

   pre {
      position: relative;
      border-radius: 0.5rem;
      padding: 1rem;
      overflow-x: hidden;
   }

   pre::before {
      position: absolute;
      right: 1.61rem;
      color: var(--code);
      opacity: 0.45;
   }

   pre code {
      display: block;
      background-color: var(--background);
      padding: 2rem 0.5rem;
      border-radius: 0.5rem;
      overflow-x: scroll;
   }

   pre.language-bash::before {
      content: 'bash';
   }

   pre.language-javascript::before {
      content: 'js'
   }

   pre.language-markdown::before {
      content: 'md'
   }

   select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: none;
   }
}