@import "/styles/typography.css";
@import "/styles/components.css";
@import "/styles/colors.css";

body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90vh;
    margin: auto;
    color: var(--text-main);
    max-width: 1024px;
    background-color: var(--background-body);
    margin: auto auto;
    padding: 0 1rem;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-family: Audiowide;
    font-size: xx-large !important;
    background: -webkit-linear-gradient(to bottom right, var(--light-blue), var(--blue));
    background: linear-gradient(to bottom right, var(--light-blue), var(--blue));
    padding: 0 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article {
    display: flex;
    flex-direction: column;
    font-family: Anta;
    margin: auto auto;
}

span {
    font-style: italic;
}

a {
    font-size: x-large;
    color: var(--orange);
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

a:hover,
a:active {
    color: var(--pink);
    background-color: var(--background-body) !important;
}

body::before {
    content: "Oops...";
    display: block;
    margin: auto auto;
    z-index: -10;
    position: absolute;
    font-size: 120pt;
    font-family: FallingSky;
    color: var(--background);
    text-align: right;
    width: fit-content
}