@font-face {
   font-family: 'Anta';
   src: url('/fonts/Anta/Anta-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'FlowCircular';
   src: url('/fonts/Flow_Circular/FlowCircular-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Audiowide';
   src: url('/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
}