@font-face {
   font-family: 'Audiowide';
   src: url('/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Anta';
   src: url('/fonts/Anta/Anta-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'FallingSky';
   src: url('/fonts/Falling_Sky/FallingSkyLight-K2EX.otf') format('opentype');
}

@font-face {
   font-family: 'Orbitron';
   src: url('/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
   font-family: 'PressStart2P';
   src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

/* Redactive Fonts */
@font-face {
   font-family: 'Wavefont';
   src: url('/fonts/Wavefont/Wavefont-VariableFont.ttf') format('truetype');
}

@font-face {
   font-family: 'FlowCircular';
   src: url('/fonts/Flow_Circular/FlowCircular-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Redacted';
   src: url('/fonts/Redacted/Redacted-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Barcode';
   src: url('/fonts/Libre_Barcode_39_Extended/LibreBarcode39Extended-Regular.ttf') format('truetype');
}


a {
   color: var(--links);
   text-decoration: none;
}

a:hover {
   color: var(--links-hover);
   text-decoration: underline;
}

article h2 {
   padding: 0 2.6rem;
}

h2 {
   font-size: xx-large !important;
   background: -webkit-linear-gradient(to bottom right, var(--light-blue), var(--blue));
   background: linear-gradient(to bottom right, var(--light-blue), var(--blue));
   padding: 0 1rem;
   background-clip: text;
   text-justify: auto;
   width: fit-content;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h2,
h3,
h4 {
   font-family: Orbitron;
}

h3 {
   font-size: x-large;
}

h4 {
   font-size: large;
}

h3,
h4 {
   color: var(--orange);
   margin: 3rem 0;
}

p,
main>a {
   line-height: 2.77rem;
   font-size: x-large;
}

p {
   padding: 0 0.16rem;
}

span.profane[data-censor="true"] {
   font-family: Wavefont;
   font-size: x-large;
   letter-spacing: 0.5rem;
   margin-right: -3px;
}

a .category {
   font-family: Anta;
}